name: LILYGO MicroPython

on:
  push:
    paths-ignore:
      - '**.md'
      - '**.MD'
  pull_request:
    paths-ignore:
      - '**.md'
      - '**.MD'

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
    - name: Install packages
      run: sudo apt-get install git make python3 python3-pip cmake quilt
    - name: Build T-Call
      run: |
        cp config_T-CALL config
        make
    - name: Build T-PicoC3
      run: |
        cp config_T-PicoC3 config
        sudo apt install gcc-arm-none-eabi libnewlib-arm-none-eabi build-essential
        make
      - name: Build T-SIM7000G
      run: |
        cp Build config_T-SIM7000G config
        make
      - name: Build T5-4.7 Plus
      run: |
        cp config_T5-4.7-Plus config
        make
